name: Android CI

on:
  pull_request:
    branches:
      - 'fundamentals'

jobs:
  test:
    name: Unit Tests
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v1
      - name: access API_KEY
  	    run: echo API_KEY=\"$API_KEY\" > ./api_key.properties
  	    env:
    	    API_KEY: ${{ secrets.API_KEY }}
      - name: Run Unit tests
        run: bash ./gradlew test --stacktrace
      
  lint:
    name: Lint Tests
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v1
      - name: access API_KEY
  	    run: echo API_KEY=\"$API_KEY\" > ./api_key.properties
  	    env:
    	    API_KEY: ${{ secrets.API_KEY }}
      - name: Run ktlint
        run: bash ./gradlew :app:ktlintDebugCheck
      - name: Run lint
        run: bash ./gradlew :app:lintDebug
